---
import { Search } from "../components/search";
import MainLayout from "../layouts/MainLayout.astro";
import PopularMovies from "../components/PopularMovies.astro";
import PopularSeries from "../components/PopularSeries.astro";

const isHomepage = Astro.url.pathname === "/";
---

<MainLayout>
  <div class="flex justify-center">
    <h1
      class="text-2xl sm:text-5xl px-4 bg-gradient-to-br from-[#dd4f02] to-[#f7aa00] font-black text-transparent bg-clip-text inline-block"
    >
      STREAMS ON!
    </h1>
  </div>
  <div class="mt-10 lg:mt-32 p-4 flex flex-col max-w-lg mx-auto gap-4">
    <Search isHomepage={isHomepage} />
  </div>
  <div class="md:flex gap-14 max-w-6xl mx-auto p-3 justify-center">
    <PopularMovies />
    <PopularSeries />
  </div>
</MainLayout>
