---
import { Search } from "../components/search";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="">Astro</h1>
  <div class="mt-52 p-4 flex flex-col max-w-lg mx-auto gap-4">
    <Search />
  </div>
</MainLayout>
