---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div>
  <a href={`${Astro.url.pathname}?country=US`}>US</a>
  <a href={`${Astro.url.pathname}?country=DK`}>DK</a>
  <a href={`${Astro.url.pathname}?country=DE`}>DE</a>
</div>
