---
interface Props {
  countries: string[];
}

const { countries } = Astro.props;
---

<div class="divide-x-2">
  {
    countries.map((country) => (
      <a
        class="px-2 first-of-type:pl-0"
        href={`${Astro.url.pathname}?country=${country}`}
      >
        {country}
      </a>
    ))
  }
</div>
