---
import { Icon } from "astro-icon/components";

const year = new Date().getFullYear()
---

<footer class="py-3 gap-2 px-5 flex items-center justify-between">
  <div class="w-fit">
    <a
      href="https://github.com/JeppeHauman/streams-on"
      target="_blank"
      class="hover:text-orange-600 transition-all"
      ><Icon name="mdi:github" size={34} /></a
    >
  </div>
  <p>
    Streams On © {year}
  </p>
</footer>
