---
import { Search } from "./search";
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";

const isHomePage = Astro.url.pathname === "/";
---

<header
  class="flex backdrop-blur z-50 justify-between items-center mb-5 gap-5 p-3 shadow-md border-b border-zinc-800 sticky top-0"
>
  <a href="/"><Image src={logo} alt={"Streams On logo"} width={50} /></a>
  {!isHomePage && <Search />}
</header>
