---
import { Search } from "./search";
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";

const isHomePage = Astro.url.pathname === "/";
---

<header
  class="flex backdrop-blur z-40 justify-between items-center mb-5 gap-5 px-3 py-3 shadow-md border-b border-zinc-800 sticky top-0"
>
  <div
    class={`${!isHomePage && "sm:static"} w-8 lg:w-12 top-2 left-5`}
  >
    <a class="relative z-50" href="/"
      ><Image src={logo} alt={"Streams On logo"} /></a
    >
  </div>
  <div class="grow sm:max-w-lg">
    {!isHomePage && <Search isHomepage={isHomePage} />}
  </div>
</header>
