---
import PopularList from "./PopularList.astro";

const options = {
  method: "GET",
  headers: {
    accept: "application/json",
    Authorization: `Bearer ${import.meta.env.PUBLIC_TMDB_AUTH}`,
  },
};
const url = new URL(
  `https://api.themoviedb.org/3/movie/popular?language=en-US&page=1`
);
const response = await fetch(url, options);
const data = await response.json();
const movies = data.results.slice(0, 6);
---

<div class="max-w-lg mx-auto">
  <h2 class="text-center font-bold text-xl sm:text-2xl mb-4 mt-8 text-orange-600">
    Popular Movies
  </h2>
  <PopularList movies={movies} />
</div>
