---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/900.css";
import "../base.css";

const { movieTitle } = Astro.props;

let title = "Streams On";
if (movieTitle) {
  title = `Streams On | ${movieTitle}`;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-900 text-gray-100 min-h-screen flex flex-col">
    <Header />
    <div class="grow">
      <slot />
    </div>
    <Footer />
  </body>
</html>
